body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.pic {
	height: 400px;
}

.toma-toolbar {
	position: relative;
}

.toma-toolbar>form {
	position: absolute;
	right: 19px;
	top: 19px;
}

.toma-alerts {
	position: absolute;
	left: 30%;
	right: 30%;
}

.toma-app-icon {
	font-weight: bold;
	font-size: 18px;
	font-family: monospace;
	border: 1px gray solid;
	border-radius: 3px;
	padding: 0 3px;
	line-height: 26px;
}