<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-150 0 300 400" width="400" height="400">
	<g>
		<g id="leftHand" fill="{{getColorByBattery()}}" transform="translate(-117,152) rotate(45,17,17)">
			<rect rx="15" height="100" width="35" />
		</g>

		<g id="rightHand" fill="{{getColorByBattery()}}" transform="translate(82,152) rotate(-45,17,17)">
			<rect rx="15" height="100" width="35" />
		</g>

		<g id="leftFoot" fill="{{getColorByBattery()}}" transform="translate(-45,290) rotate(5,17,17)">
			<rect rx="15" height="80" width="35" />
		</g>

		<g id="rightFoot" fill="{{getColorByBattery()}}" transform="translate(10,290) rotate(-5,17,17)">
			<rect rx="15" height="80" width="35" />
		</g>

		<g id="headPrototype" fill="{{getColorByBattery()}}" transform="translate(-75,0) rotate(-7,0,150)">
			<ellipse cy="140" cx="75" rx="75" ry="65" clip-path="url(#headClip)" />
			<clipPath id="headClip">
				<rect height="84" width="182" x="0" y="59" />
			</clipPath>

			<g id="leftAntenna" y="50" x="55" transform="translate(55,50) rotate(-10, 4, 26)">
				<rect rx="3" height="30" width="8"/>
			</g>
			<g id="rightAntenna" y="50" x="87" transform="translate(87,50) rotate(10, 4, 26)">
				<rect rx="3" height="30" width="8" />
			</g>

			<g fill="#FFF">
				<ellipse cx="40" cy="117" rx="8" ry="8" />
				<ellipse cx="110" cy="117" rx="8" ry="8" />
			</g>
		</g>

		<g id="body" fill="{{getColorByBattery()}}" transform="translate(-75,152)">
			<rect height="120" width="150"/>
			<rect rx="15" height="150" width="150"/>
		</g>
	</g>

</svg>
