<h1>{{name}}</h1>

<div class="well">
    <div class="row-fluid">
        <div class="span6">
            <div class="pic">
                <div ng-include="'views/robot.html'"></div>
            </div>
        </div>

        <div class="span6">
            <div class="progress-mood">
                <h4>Mood</h4>
                <div class="progress progress-warning">
                    <div class="bar" style="width: 60%"></div>
                </div>
            </div>
            <div class="progress-charge">
                <h4>Battery</h4>
                <div class="progress progress-info">
                    <div class="bar" style="width: 20%"></div>
                </div>
            </div>
            <div class="progress-memory">
                <h4>Memory</h4>
                <div class="progress progress-success">
                    <div class="bar" style="width: 40%"></div>
                </div>
            </div>
            <div class="progress-smth">
                <h4>Smth</h4>
                <div class="progress progress-danger">
                    <div class="bar" style="width: 80%"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="well">
    <div class="row-fluid">
        <button type="button" class="btn btn-primary">Install app</button>
        <button type="button" class="btn btn-primary">Charge</button>
        <button type="button" class="btn btn-primary">Some action</button>
    </div>
</div>


