<div class="row-fluid">
    <h1>{{name}}</h1>
    <div class="progress-smth">
        <div class="progress progress-danger">
            <div class="bar" style="width: 80%"></div>
        </div>
    </div>
</div>
<div class="well">
    <div class="row-fluid">
        <div class="span6">

            <div class="pic">
                <div ng-include="'views/robot.html'"></div>
            </div>
        </div>

        <div class="span6">
            <div class="progress-mood">
                <h4>Mood</h4>

                <div class="progress progress-warning">
                    <div class="bar" style="width: 60%"></div>
                </div>
            </div>
            <div class="progress-charge">
                <h4>Battery</h4>

                <div class="progress progress-info">
                    <div class="bar" ng-style="{width: robot.battery + '%' }"></div>
                </div>
            </div>
            <div class="progress-memory">
                <h4>Memory</h4>

                <div class="progress progress-success">
                    <div class="bar" style="width: 40%"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="well">
    <div class="row-fluid">
        <button type="button" class="btn btn-primary" ng-click="install()">Install app</button>
        <button type="button" class="btn btn-primary" ng-click="charge()">Charge</button>
        <button type="button" class="btn btn-primary" ng-click="doSmth()">Some action</button>
    </div>
</div>


<div class="span1 speed">
    <span class="label">Speed = {{speed}}</span>
    <label class="radio">
        <input type="radio" value="1" ng-model="speed.acceleration" checked>
        x1
    </label>
    <label class="radio">
        <input type="radio" value="2" ng-model="speed.acceleration">
        x2
    </label>
    <label class="radio">
        <input type="radio" value="1000" ng-model="speed.acceleration">
        x10
    </label>
</div>