<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-150 0 300 400" width="400" height="400">
	<g>
		<g id="leftHand" fill="#a4c639" transform="translate(-117,152) rotate(0)">
			<rect rx="15" height="100" width="35" />
		</g>

		<g id="rightHand" fill="#a4c639" transform="translate(82,152) rotate(0)">
			<rect rx="15" height="100" width="35" />
		</g>

		<g id="leftFoot" fill="#a4c639" transform="translate(-45,290) rotate(0)">
			<rect rx="15" height="80" width="35" />
		</g>

		<g id="rightFoot" fill="#a4c639" transform="translate(10,290) rotate(0)">
			<rect rx="15" height="80" width="35" />
		</g>


		<!--<g id="rightHand" fill="#a4c639" transform="translate(50,0) rotate(-90, 50, 12)">-->
		<!--&lt;!&ndash;<rect rx="6.5" transform="rotate(29)" height="86" width="13" y="-86" x="14"/>&ndash;&gt;-->
		<!--<rect id="c" rx="24" height="133" width="48" x="0" y="0" />-->
		<!--</g>-->

		<!--<g id="#leftFoot">-->

		<!--</g>-->
		<!--<use xlink:href="#a" transform="scale(-1,1)"/>-->

		<g id="head" fill="#a4c639" transform="translate(-75,0)">
			<ellipse cy="140" cx="75" rx="75" ry="65" clip-path="url(#headClip)" />
			<clipPath id="headClip">
				<rect height="84" width="182" x="0" y="59" />
			</clipPath>

			<g id="leftAntenna" fill="#a4c639">
				<rect rx="3" height="60" width="8" />
			</g>


			<g fill="#FFF">
				<ellipse cx="40" cy="117" rx="8" ry="8" />
				<ellipse cx="110" cy="117" rx="8" ry="8" />
			</g>
			<!--<rect rx="22" height="182" width="182" y="20" x="-91"/>-->
		</g>
		<g id="body" fill="#a4c639" transform="translate(-75,152)">
			<rect rx="15" height="150" width="150"/>
		</g>
	</g>

</svg>